# SSL Certs
SSL_CERT_PATH="/etc/letsencrypt/live/domain.com/fullchain.pem"
SSL_KEY_PATH="/etc/letsencrypt/live/domain.com/privkey.pem"

# Relay information
RELAY_NAME="ngit-relay instanace"
RELAY_DESCRIPTION="instance of ngit-relay, a nostr-permissioned git server with relay and blossom server"
# blossom limits dont apply to owner
OWNER_NPUB="npub15qydau2hjma6ngxkl2cyar74wzyjshvl65za5k5rl69264ar2exs5cyejr"

# blossom settings - 0 = no limit
BLOSSOM_MAX_FILE_SIZE_MB=100
BLOSSOM_MAX_CAPACITY_GB=50
